<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ST4/Test1_MVC/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>